---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import TextPageTitle from "../../components/TextPageTitle.astro";
import Article from "../../components/Article.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    return {
      params: {
        slug: post.data.slugLink,
      },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={`Tom Brereton | $`}>
  <header>
    <TextPageTitle title={post.data.title} subtitle={post.data.summary} />
  </header>

  <article
    class="tb-article prose prose-invert md:prose-lg prose-img:m-auto prose-code:m-auto min-w-full"
  >
    <Content />
  </article>
  <ul class="tags">
    {post.data.tags?.map((tag) => <li>{tag}</li>)}
  </ul>
  <p>
    <a href="/">&larr; back to all posts</a>
  </p>
</Layout>

<style>
  .tb-article {
    @apply bg-black;
    @apply border;
    @apply border-black-light;
    @apply max-w-full;
    @apply p-8;
    @apply md:w-11/12;
    @apply lg:w-6/12;
  }
</style>
