---
import Layout from "../layouts/Layout.astro";
import TextTitle from "../components/TextTitle.astro";
import TextSubtitle from "../components/TextSubtitle.astro";
import LandingText from "../components/LandingText.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <LandingText />
  </main>
</Layout>
