---
import Layout from "../layouts/Layout.astro";
import TextTitle from "../components/TextTitle.astro";
import { getCollection } from "astro:content";
import Search from "@/components/Search";
import SearchResults from "@/components/SearchResults";
import TextBody from "@/components/TextBody.astro";

const posts = await getCollection("blog", (post) => {
  return import.meta.env.MODE !== "production" || post.data.draft === false;
});

const postsData = posts.map((p) => p.data);
---

<Layout title="Tom Brereton | Software Engineer | Search">
  <div class="flex w-full flex-col">
    <TextBody>home > search</TextBody>
    <TextTitle>Search</TextTitle>
    <SearchResults client:load documents={postsData} />
  </div>
</Layout>
