---
import Layout from "../layouts/Layout.astro";
import TextTitle from "../components/TextTitle.astro";
import { getCollection } from "astro:content";
import Search from "@/components/Search";
import SearchResults from "@/components/SearchResults";
import TextBody from "@/components/TextBody.astro";
import type { Document } from "@/content/schemas/_document";

const postsData = await getCollection("blog", (post) => {
  return import.meta.env.MODE !== "production" || post.data.draft === false;
});

const posts = postsData.map((p) => p.data);
// const allPosts = await Astro.glob('../content/blog/*.{md,mdx}');
// const posts = allPosts.filter((post) => !post.frontmatter.draft && post.frontmatter.slug).map(p => p as Document);

---

<Layout title="Tom Brereton | Software Engineer | Search">
  <div class="flex w-full flex-col">
    <TextBody>home > search</TextBody>
    <TextTitle>Search</TextTitle>
    <SearchResults client:load documents={posts} />
  </div>
</Layout>
