---
import TextTitle from "./TextTitle.astro";
import Card from "./Card.astro";
import TextBody from "./TextBody.astro";
import portrait from "../assets/imgs/portrait.png";
import TinyIcon from "./TinyIcon.astro";
---

<div class="flex flex-col items-center">
  <TextTitle>About</TextTitle>
  <Card>
    <img src={portrait.src} class="rounded-full w-8/12 md:w-5/12" />
    <TextBody>
      Hey there! I'm Tom, a software engineer who's all about technology and
      design. I focus mostly on software architecture, designing for
      testability, and building captivating websites. In my free time, I enjoy
      working on my latest sotware project, training for Muay Thai, or designing
      some user interfaces (UI) or experiences (UX).
    </TextBody>
    <TextBody>
      I'm currently based in Sydney as a Lead Software Engineer at <a
        href="https://azenix.com.au/"
        class="underline underline-offset-2">Azenix</a
      >.
    </TextBody>
    <div class="flex justify-between w-full">
      <TinyIcon icon="mdi:laptop" />
      <TinyIcon icon="mdi:karate" />
      <TinyIcon icon="mdi:pencil-ruler" />
      <TinyIcon icon="mdi:music" />
      <TinyIcon icon="mdi:dumbbell" />
      <TinyIcon icon="mdi:coffee" />
    </div>
  </Card>
</div>
