---
import TextTitle from "./TextTitle.astro";
import Card from "./Card.astro";
import TextBody from "./TextBody.astro";
import portrait from "../assets/imgs/portrait.png";
import SmallIcon from "./SmallIcon.astro";
import TinyIcon from "./TinyIcon.astro";
---

<div class="flex flex-col items-center">
  <TextTitle>About</TextTitle>
  <Card>
    <img src={portrait.src} class="rounded-full w-8/12" />
    <TextBody>
      Hey there! I'm Tom, a software engineer who's all about technology and
      design. I'm into software architecture, designing for testability, and
      building captivating websites. In my free time, I
      love working on my latest sotware project, practicing Muay Thai, camping, working
      out at the gym, or designing some user interfaces (UI) or experiences (UX).
    </TextBody>
    <TextBody>
      I'm currently based in Sydney as a Lead Software Engineer at <a
        href="https://azenix.com.au/"
        class="underline underline-offset-2">Azenix</a
      >.
    </TextBody>
    <div class="flex justify-between w-full">
      <TinyIcon icon="mdi:music" />
      <TinyIcon icon="mdi:karate" />
      <TinyIcon icon="mdi:laptop" />
      <TinyIcon icon="mdi:dumbbell" />
      <TinyIcon icon="mdi:tent" />
      <TinyIcon icon="mdi:coffee" />
      <TinyIcon icon="mdi:pencil-ruler" />
    </div>
  </Card>
</div>
