<div class="tb-article">
  <slot />
</div>

<style>
  .tb-article {
    @apply bg-black;
    @apply border;
    @apply border-black-light;
    @apply p-8;
		@apply md:w-11/12;
		@apply lg:w-6/12;
  }
</style>
