<div class="tb-card">
  <slot />
</div>

<style>
  .tb-card {
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply bg-black;
    @apply border;
    @apply border-black-light;
    @apply p-8;
    @apply gap-y-8;
    @apply w-full;
		@apply md:w-7/12;
		@apply lg:w-4/12;
  }
</style>
