---
import logo from "../assets/imgs/logo.png";
import TextLink from "./TextLink.astro";
import TinyIcon from "./TinyIcon.astro";
import SmallIcon from "./SmallIcon.astro";
---

<nav class="tb-footer mt-32 flex flex-col justify-start">
  <a href="/">
    <img src={logo.src} width="60px" alt="Logo" class="mb-8" />
  </a>
  <div class="flex justify-between w-full">
    <div class="flex flex-col gap-y-2">
      <TextLink text="home" url="/" />
      <TextLink text="projects" url="/projects" />
      <TextLink text="blog" url="/blog" />
      <TextLink text="search" url="/search" />
    </div>
    <div class="flex flex-col gap-7 justify-center">
      <div class="flex gap-7">
        <a href="https://ko-fi.com/tombrereton">
          <SmallIcon icon="ph:coffee-thin" />
        </a>
        <a href="https://www.linkedin.com/in/tbrereton/">
          <SmallIcon icon="ph:linkedin-logo-thin" />
        </a>
      </div>
      <div class="flex gap-7 justify-center">
        <a href="https://github.com/tombrereton">
          <SmallIcon icon="ph:github-logo-thin" />
        </a>
        <a href="mailto:tom@brereton.dev">
          <SmallIcon icon="ph:envelope-simple-thin" />
        </a>
      </div>
    </div>
  </div>
</nav>

<style>
  .tb-footer {
    @apply bg-black border;
    @apply border-black-light;
    @apply border-solid;
    @apply flex;
    @apply p-10;
  }
</style>
