---
import logo from "../assets/imgs/logo.png";
import TextLink from "./TextLink.astro";
import { Icon } from "astro-icon";
---

<nav class="nav-header">
  <img src={logo.src} width="60px" alt="Logo" />
  <div class="flex space-x-5">
    <TextLink text="home" url="/" />
    <TextLink text="projects" url="/projects" />
    <TextLink text="blog" url="/blog" />
    <Icon name="mdi:search" class="text-grey-light w-6" />
  </div>
</nav>

<style>
  .nav-header {
    @apply bg-black border;
    @apply border-black-light;
    @apply border-solid;
    @apply flex;
    @apply justify-between;
    @apply items-center;
    @apply px-4;
    @apply py-4;
  }
</style>
