---
import TextSmallHeading from "./TextSmallHeading.astro";
import LargeIcon from "./LargeIcon.astro";
---

<div class="tb-marquee">
  <div class="tb-banner animate-marquee">
    <LargeIcon icon="simple-icons:figma" />
    <LargeIcon icon="simple-icons:python" />
    <LargeIcon icon="simple-icons:dotnet" />
    <LargeIcon icon="simple-icons:microsoftazure" />
    <LargeIcon icon="carbon:sql" />
    <LargeIcon icon="simple-icons:react" />
    <LargeIcon icon="simple-icons:javascript" />
  </div>
  <div class="tb-banner absolute animate-marquee2 top-0">
    <LargeIcon icon="simple-icons:figma" />
    <LargeIcon icon="simple-icons:python" />
    <LargeIcon icon="simple-icons:dotnet" />
    <LargeIcon icon="simple-icons:microsoftazure" />
    <LargeIcon icon="carbon:sql" />
    <LargeIcon icon="simple-icons:react" />
    <LargeIcon icon="simple-icons:javascript" />
  </div>
</div>

<style>
  .tb-marquee {
    @apply w-screen;
    @apply bg-black;
    @apply border;
    @apply border-black-light;
    @apply overflow-x-hidden;
    @apply relative;
    @apply flex;
  }
  .tb-banner {
    @apply flex;
    @apply whitespace-nowrap;
    @apply justify-center;
    @apply items-center;
    @apply py-8;
  }
</style>
