<p class="tb-title tb-gradient">
  <slot />
</p>

<style>
  .tb-gradient {
    @apply text-transparent;
    @apply bg-clip-text;
    @apply bg-gradient-to-r;
    @apply from-white;
    @apply to-grey-other;
  }

  .tb-title {
    @apply font-sans;
    @apply text-5xl;
  }
</style>
